<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Universe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F02473F71CA57E7A0049DB21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F024740B1CA57E7A0049DB21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F02474161CA57E7A0049DB21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
